<div class="details">
  <mat-card class="card">
    <mat-card-content >
      <div class="p-8">
        <div class="card-content">
          <h2>Title: <span class="info">{{detailsBook.title}}</span></h2>
          <p><strong>ISBN:</strong> <span class="info">{{detailsBook.isbn}}</span></p>
          <p><strong>Author:</strong> <span class="info">{{detailsBook.author}}</span></p>
          <p><strong>Price:</strong> <span class="info">{{detailsBook.price}}</span></p>
          <p><strong>Year of Publication:</strong> <span class="info">{{detailsBook.yearPublication}}</span></p>
          <p><strong>Category:</strong> <span class="info">{{detailsBook.category.title}}</span></p>
          <p><strong>Description:</strong> <span class="info">{{detailsBook.description}}</span></p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
