<div class="details">
  <form class="card">
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>ISBN</mat-label>
        <input matInput name="ISBN" type="text" [(ngModel)]="editBook.isbn" />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Title</mat-label>
        <input
          matInput
          name="title"
          type="text"
          [(ngModel)]="editBook.title"
        />
      </mat-form-field>
    </div>
    
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>YearPublished</mat-label>
        <input
          matInput
          name="YearPublished"
          type="text"
          [(ngModel)]="editBook.yearPublication"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Author</mat-label>
        <input
          matInput
          name="Author"
          type="text"
          [(ngModel)]="editBook.author"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Price</mat-label>
        <input
          matInput
          name="Price"
          type="text"
          [(ngModel)]="editBook.price"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Description</mat-label>
        <input
          matInput
          name="description"
          type="text"
          [(ngModel)]="editBook.description"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Choose Category</mat-label>
        <mat-select [(ngModel)]="cID" [(value)]="selected" name="Category">
          @for(c of categoryObject; track c){
            <mat-option [value]="c.id">{{c.title}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="buttons">
      <button mat-raised-button (click)="toHome()">Cancel</button>
      <button mat-raised-button color="primary" (click)="edit()">Edit</button>
    </div>
  </form>
</div>
