.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../../../assets/pexels-min-an-694740.jpg");
  height: 100vh;
  font-size: 25px;
  background-size: contain;
  align-items: top;
}
.card {
  width: 400px;
  padding: 20px;
  background-color: rgba(197, 201, 134, 0.799);
  color: rgb(241, 234, 234);
  font-size: 20px;
  margin:auto;
}